.karte__img{
  margin-bottom: 120px;
}
.form__btn {
  margin-top: 40px;
  padding: 18px 54px;
  background: #02897A;
  border-radius: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}