@media screen and (max-width: 520px) {
  .myspace__inner {
    display: flex;
    flex-direction: column;
  }
  
  .myspace__img {
    margin-right: 0;
    margin-bottom: 50px;
    width: 320px;
    height: 300px;
  }
  
  .myspace__list {
    padding: 0;
  }
  .myspace__item-text {
    max-width: 287px;
  }
  
  .myspace__item {
    justify-content: space-between;
  }
  
  .management__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .marketing__box {
    display: flex;
    flex-direction: column;
  }
  
  .marketing__img {
    width: 90px;
    height: 90px;
  }
  
  .marketing__title {
    margin-right: 15px;
  }
  
  .envection__list{
    display: flex;
    flex-direction: column;
  }
  
  .prices__list {
    flex-direction: column;
  }
  
  .prices__item {
    margin-bottom: 32px;
  }
  
  .evaluation__list {
    flex-direction: column;
  }
  
  .evaluation__item {
    margin-bottom: 32px;
  }
  
  .compannies__inner {
    flex-direction: column;
    text-align: center;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .footer__box {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
  .footer__open {
    margin-left: auto;
    text-align: center  ;
    margin-right: auto;
  }
  
  .footer__rights {
    max-width: 75%;
    margin-right: 0;
  }
}

@media screen and (max-width: 520px) {
  .innovation__box {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .innovation__img-beg {
    width: 338px;
    height: 310px;
  }
  
  .innovation__headeing {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    color: #22343D;
  }
  
  .innovation__text {
    max-width: 326px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #22343D;
  }
  
  .innovation__link {
    margin-left: 0;
    margin-right: 8px;
    padding: 12px 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
}


@media screen and (max-width: 520px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .quality__open {
    display: block;
  }
  
  .quality__list {
    display: block;
    text-align: center;
  }
  
  .quality__text {
    max-width: 100%;
  }
  
  .quality__img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 380px){
  .business__img-beg {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 520px) {
  .management__wrapper {
    display: flex;
    flex-direction: column-reverse ;
  }
  .management__amico {
    width: 349px;
    height: 306px;
  }
  .man
  agement__headeing {
    margin-bottom: 0;
  }
  .campaigns__list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .campaigns__itemm {
    margin-top: 40px;
  }
  .quality__list {
    margin: 0;
    padding: 0;
  }
  .quality__tests{
    margin-bottom: 50px;
  }
  .product__item{
    margin-bottom: 30px;
  }
  .step__item-open{
    flex-direction: column;
  }
  .step__item{
    flex-direction: column-reverse;
  }
  .step__img {
    width: 340px;
    height: 190px;
    margin-bottom: 50px;
  }
 .suggestions__list {
   flex-direction: column;
   padding: 0;
 }
 .suggestions__img {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 35px;
 } 
  .suggestions__item{
    margin-left: 0 !important;
  }
  .business__inner {
    flex-direction: column;
  }
.business__img-beg {
  margin-left: auto;
  margin-right: auto;
  width: 359px;
  height: 263px;
}
.latest-stories {
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.latest-stories__item {
  padding: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 32px;
}
.latest-stories__btn{
  margin-left: auto;
  margin-right: auto;
}
.karta {
  margin-left: auto;
  margin-right: auto;
  width: 360px;

}
.form__input {
 padding: 0 !important;
}
.footer__list {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

}
